<div class="container">
  <div class="d-flex flex-row">
    <h4 class="p-3">ID</h4>
    <h4 class="p-3">TITULO</h4>
    <h4 class="p-3">DESCRIPCION</h4>
    <h4 class="p-3">DESTINATARIO</h4>
    <h4 class="p-3">IMAGEN</h4>
    <h4 class="p-3">ACCIONES</h4>
  </div>
  <div class="d-flex flex-row" >
    <div class="d-flex flex-row" *ngFor="let peticion of peticiones">
      <p class="px-5 ps-3">{{peticion.id}}</p>
      <p class="px-5 ps-3">{{peticion.titulo}}</p>
      <p class="px-5 ps-3">{{peticion.descripcion}}</p>
      <p class="px-5">{{peticion.destinatario}}</p>
      <img src="http://localhost:8000/{{peticion.file}}" class="card-img-top" style="width: 100px; margin-left: 50px;" alt="...">
      <div class="d-flex px-5">
        <a href="javascript:void(0);" (click)="deletePeticiones(peticion.id)"><i class="fa fa-trash"></i></a>
        <a href="javascript:void(0);" (click)="editPeticion(peticion.id)" class="ms-3"><i class="fa fa-pencil"></i></a>
      </div>
    </div>
  </div>
</div>
